<h1>Triangle</h1>

<form action="/triangles">
  <div class="form-group">
    <label for="a">Enter measurement for side 1:
    </label>
    <input id="a" name="a" class="form-control" type="text">
  </div>

  <div class="form-group">
    <label for="b">Enter measurement for side 2:
    </label>
    <input id="b" name="b" class="form-control" type="text">
  </div>

  <div class="form-group">
    <label for="c">Enter measurement for side 3:
    </label>
    <input id="c" name="c" class="form-control" type="text">
  </div>

  <button type="submit" class="btn-success">Send</button>
</form>
