<h1>Is this a triangle?</h1>

<h5> Side 1: <%= @triangle.a() %></h5>
<h5> Side 2: <%= @triangle.b() %></h5>
<h5> Side 3: <%= @triangle.c() %></h5>

<% if @triangle.not_triangle() %>
<h5> It's not a triangle!</h5>
<% elsif @triangle.equalateral?() %>
<h5> It's an equalateral triangle!</h5>
<% elsif @triangle.isosceles?() %>
<h5> It's an isosceles triangle!</h5>
<% else @triangle.scalene?() %>
<h5> It's an scalene triangle!</h5>
<% end %>
