<h1>Is this a triangle?</h1>

<h5> Side 1: <%= @triangle.a() %></h5>
<h5> Side 2: <%= @triangle.b() %></h5>
<h5> Side 3: <%= @triangle.c() %></h5>

<% if @triangle.is_it_triangle?() %>
  <% if true && @triangle.equilateral?() %>
  <h5>Equilateral triangle.</h5>
  <% elsif true && @triangle.isosceles?() %>
  <h5>Isosceles triangle.</h5>
  <% else  %>
  <h5>Scalene triangle.</h5>
  <% end %>

<% else %>
<h5>Not a triangle.</h5>
<% end %>
